body, html {
    font-family: 'shabnam';
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #f5f5f5;
    font-weight: 400;
    width: 100% !important;
    height: 100% !important;
    direction: rtl;
}
@font-face {
    font-family: 'shabnam';
    src: url('/assets/fonts/Shabnam.ttf')       
  }

#menu{
    padding: 15px;
}

.navbar{
    background-color:#231f43;
    height: 50px;   
}
.container{
    width: 100%;
    max-width: 1024px;
    margin:auto;
}
.menu-bar{
   display: flex;
   justify-content:space-between;
   align-items: center;

}

.ulist li{
    display: inline-block;
    margin: 0 20px;
}
li>a{
    color: #e0e0e0 ;
    text-decoration:none ;

}
.newgame{
    color: #ffcb05;
    text-decoration: none;
    padding: 10px 7.5px 10px 8px;
    border: solid 1.5px #ffcb05;
}
.logo{
    width: 200px;
   
}

/*header*/
header{
    background-color: #231f43;
}
.header{
    display: flex;
    flex-direction: column;
}
.header-title{
    margin-bottom: 30px;
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.content-img img{
    width: 550px;

}
.content-img{
    position: relative;
   
}
.content-img span{
    font-family: Shabnam;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffcb05;
    position: absolute;
    color: #3a3657;
    right:0px;
    padding: 10px;
    margin-top: -10px;
    margin-right: -10px;
    
}
.content-items{
    display: flex;
    flex-direction: column;
}
.content-items i{
    color: #ffcb05;
    margin-right: 352px;
    
}
.percent{
    margin-right: 340px;
}
.bar{
    background-color: #39303d;
    width: 100%;
}
.fill{
    width: 355px;
    height: 16px;
    background-color: #ffcb05;
    width: 80%;
    color: #ffcb05;
}
.content-items .fa-heart{
    font-size:25px;
    
}
.content-items span{
    margin-left: 5px;
}
.content-items .buttons{
    display: flex;
    flex-direction: row;
}
.content-items .buttons .download{  
    padding: 12px 69px;
    margin: 16px 0;
    background-color: #ffcb05;
}
.content-items .buttons .download a{
    color: #3a3657;
}
.content-items .buttons .share a{
    color: #ffcb05;
}
.content-items .buttons .share{
    border: solid 3px #ffcb05;
    padding: 12px 69px;
    margin: 16px 0;
    margin-right: 10px;
}
.content-items div h2 span{
    font-size: 16px;
    font-weight: 300;
    color: #bdbdbd;
}
.content-items .support{
    background-image: linear-gradient(261deg, rgba(255, 0, 0, 0) 100%, rgba(255, 138, 0, 0.5) 17%), linear-gradient(to bottom, #ffcb05, #ffcb05);
}
.content-items .support span{
    color: red;
}
.content-items .support {
    text-align: center;
}
.content-items .support h3{
    color: #3a3657;
    text-align: center;
    font-family: Shabnam;
    font-size: 20px;
}


/**/
.btn{
    display: flex;
    justify-content: space-between;
}
.btn div{
   border: solid 1.5px #ffcb05;
   padding: 5px 57px;
}
#seclist a{
    color: #ffcb05;
}

.sec-ulist li{
    display: inline-block;
    margin: 0 30px;
}
.sec-navbar{
    background-color:#3a3657;
    height: 50px;   
}
.sec-menu-bar{
   display: flex;
   justify-content: flex-start;
   align-content: center;
 }
#seclist li>a{
    position: relative;
}
#seclist li>a:hover:after{
    width: 100%;
}
#seclist li>a::after{
    width: 0;
    transition: width 0.2s;
    transition-property: width;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    content: "";
    position:absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    background:#ffcb05
}
.first-child p {
    color:#717171 ;
}

.info h5 {
    color:#212121 ;
}
.info{
    display: flex;
    justify-content:space-evenly;

}
.first-child{
    flex-basis: 500px;
}
.sec-child{
    flex-basis: 350px;
    justify-content: center;
}
.sec-child p {
    color: #212121;
    background-color: #ffcb05;
    padding: 15px;
}
.sec-child a {
    color: #424242;
    padding: 4px 54.8px;
    border: solid 1.5px #424242;
}
.sec-child div{
    background-color: #bdbdbd;
}
.checked {
    color:#ffcb05;
  }
.unchecked{
   color: #a5a5a5;
}
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #ffcb05;
    width:30px;
    height: 30px;
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    
    
  }
.load{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.load h5{
    display: inline-block;
    margin: 0 10px;
}
.rating{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rating div{
    color:black;
}
