body, html {
  font-family: 'shabnam';
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #f5f5f5;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
  direction: rtl;
}

@font-face {
  font-family: 'shabnam';
  src: url("/assets/fonts/Shabnam.ttf");
}

#menu {
  padding: 15px;
}

.navbar {
  background-color: #231f43;
  height: 50px;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu-bar__hamburger {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .menu-bar__hamburger {
    color: #f3f3f3;
    opacity: 1;
    position: absolute;
    left: 60px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 280px) {
  .menu-bar__hamburger {
    color: #f3f3f3;
    opacity: 1;
    position: absolute;
    left: 60px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .menu-bar .ulist {
    display: none;
  }
}

@media screen and (max-width: 280px) {
  .menu-bar .ulist {
    display: none;
  }
}

.menu-bar .ulist a:hover {
  color: #ffcb05;
}

.ulist li {
  display: inline-block;
  margin: 0 20px;
}

li > a {
  color: #e0e0e0;
  text-decoration: none;
}

.newgame {
  color: #ffcb05;
  text-decoration: none;
  padding: 10px 7.5px 10px 8px;
  border: solid 1.5px #ffcb05;
}

.logo {
  width: 200px;
}

/*header*/
header {
  background-color: #231f43;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-title {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .header-title {
    padding: 10px;
  }
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .header-content {
    padding: 10px;
  }
}

.content-img img {
  width: 550px;
}

@media screen and (max-width: 768px) {
  .content-img img {
    width: 100%;
  }
}

.content-img {
  position: relative;
}

.content-img span {
  font-family: Shabnam;
  font-size: 20px;
  font-weight: bold;
  background-color: #ffcb05;
  position: absolute;
  color: #3a3657;
  right: 0px;
  padding: 10px;
  margin-top: -10px;
  margin-right: -10px;
}

.content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-items i {
  color: #ffcb05;
  margin-right: 352px;
}

.percent {
  margin-right: 340px;
}

.bar {
  background-color: #39303d;
  width: 100%;
}

.fill {
  width: 355px;
  height: 16px;
  background-color: #ffcb05;
  width: 80%;
  color: #ffcb05;
}

.content-items .fa-heart {
  font-size: 25px;
}

.content-items span {
  margin-left: 5px;
}

.content-items .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-items .buttons .download {
  padding: 12px 69px;
  margin: 16px 0;
  background-color: #ffcb05;
}

.content-items .buttons .download a {
  color: #3a3657;
}

.content-items .buttons .share a {
  color: #ffcb05;
}

.content-items .buttons .share {
  border: solid 3px #ffcb05;
  padding: 12px 69px;
  margin: 16px 0;
  margin-right: 10px;
}

.content-items div h2 span {
  font-size: 16px;
  font-weight: 300;
  color: #bdbdbd;
}

.content-items .support {
  background-image: linear-gradient(261deg, rgba(255, 0, 0, 0) 100%, rgba(255, 138, 0, 0.5) 17%), linear-gradient(to bottom, #ffcb05, #ffcb05);
}

.content-items .support span {
  color: red;
}

.content-items .support {
  text-align: center;
}

.content-items .support h3 {
  color: #3a3657;
  text-align: center;
  font-family: Shabnam;
  font-size: 20px;
}

/* second nav*/
.sec-navbar {
  background-color: #3a3657;
  height: 50px;
}

.sec-menu-bar a {
  text-decoration: none;
  color: #ffcb05;
  margin-left: 100px;
}

@media screen and (max-width: 768px) {
  .sec-menu-bar a {
    margin-left: 50px;
    padding: 10px;
  }
}

.seclist {
  display: inline-block;
  padding: 0;
}

.seclist li {
  display: inline-block;
}

#seclist a {
  position: relative;
}

#seclist a:hover:after {
  width: 100%;
}

#seclist a::after {
  width: 0;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 2px;
  background: #ffcb05;
}

@media screen and (max-width: 768px) {
  #seclist a::after {
    bottom: -3px;
  }
}

/* inforamtion*/
.first-child p {
  color: #717171;
}

.info h5 {
  color: #212121;
}

.info {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.first-child {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}

.sec-child {
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec-child p {
  color: #212121;
  background-color: #ffcb05;
  padding: 15px;
}

.sec-child a {
  color: #424242;
  padding: 4px 54.8px;
  border: solid 1.5px #424242;
}

.sec-child div {
  background-color: #bdbdbd;
}

.checked {
  color: #ffcb05;
}

.unchecked {
  color: #a5a5a5;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #ffcb05;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}

.load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.load h5 {
  display: inline-block;
  margin: 0 10px;
}

.rating {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating div {
  color: black;
}
/*# sourceMappingURL=style.css.map */